<p id="notice"><%= notice %></p>

<p>
  <b>Twid:</b>
  <%= @user.twid %>
</p>

<p>
  <b>Link:</b>
  <%= @user.link %>
</p>

<% if @recommend %>
<p>
  <b>Recommend</b>
  <%= link_to @recommend.twid, @recommend %>
</p>
<% end %>

<p>
  <b>Used tags</b>
  <% @user.used_tags.each do |tag| %>
    <%= link_to tag.name, tag %> <br/>
  <% end %>
</p>


<p>
  <b>Knows:</b><br/>
  <% @knows.each do |user| %>
    <%= link_to user, user %> <br/>
  <% end %>
  <%= will_paginate(@knows) %>
</p>

<p>
  <b>Mentioned from:</b><br/>
  <% @mentioned_from.each do |tweet| %>
    <%= link_to tweet, tweet %> <br/>
  <% end %>
</p>

<p>
  <b>Tweets</b><br/>
  <% @user.tweeted.each do |tweet| %>
    <%= link_to tweet, tweet %> <br/>
  <% end %>
</p>



<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
