<!DOCTYPE html>
<html>
<head>
  <title>Kvitter</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav>
  <ul>
    <li><%= link_to "Tweets", tweets_path %></li>
    <li><%= link_to "Links", links_path %></li>
    <li><%= link_to "Tags", tags_path %></li>
    <li><%= link_to "Users", users_path %></li>
  </ul>
</nav>

<%= yield %>

</body>
</html>
